# SSH Keys
ssh key
ssh key.pub

# Backend
backend/target/
backend/.mvn/wrapper/maven-wrapper.jar
backend/*.log

# Frontend
frontend/dist/
frontend/node_modules/
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

# OS
.DS_Store
Thumbs.db
